<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top"
     style="background-color:black; opacity:0.7;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['']">Paul Becotte</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['']">Home</a></li>
                <li *ngIf="authService.isLoggedIn"><a [routerLink]="['drafts']">Drafts</a></li>
                <li *ngIf="authService.isLoggedIn"><a [routerLink]="['create']">Create Entry</a></li>
                <li *ngIf="authService.isLoggedIn" (click)="authService.logout()"><a [routerLink]="['angular']">Log out</a></li>
                <li *ngIf="!authService.isLoggedIn"><a [routerLink]="['login']">Log in</a></li>
                <li *ngFor="let entry of navService.extraNav"><a
                        [routerLink]="entry.dest">{{ entry.title }}</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Set your background image for this header on the line below. -->
<header class="intro-header" [ngStyle]="{'background-image': 'url(' + headerService.header.image + ')'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="site-heading">
                        <h1>{{ headerService.header.title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ headerService.header.subhead }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div *ngFor="let message of messageService.messages" class="alert alert-dismissable alert-success">
        <button (click)="messageService.ackMessage(message)" type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <p>{{ message }}</p>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Footer -->
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/paulbecotte">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/paul.becotte.3">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/pbecotte">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Paul Becotte 2015-2016</p>
                <p class="copyright text-muted">
                    All code samples are released under the
                    <a href="http://creativecommons.org/licenses/by-sa/3.0/">
                        Creative Commons Attribution/Share-Alike License.
                    </a>
                </p>
                <p class="copyright text-muted">Header courtesy of <a
                        href="http://www.freewebheaders.com">Free Web Headers</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/static/js/jquery-1.11.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
