{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    {% if search %}
      {% set entry = entry.entry %}
    {% endif %}
    <div class="post-preview">
      <a href="{% if entry.published %}{{ url_for('entry.detail', slug=entry.slug) }}{% else %}{{ url_for('entry.edit', slug=entry.slug) }}{% endif %}">
        <h2 class="post-title">
            {{ entry.title }}
        </h2>
        <h3 class="post-subtitle">
          {{ entry.tagline }}
        </h3>
      </a>
    <p class="post-meta">
        Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}
    </p>
    </div>
    <hr>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
