<h2>LOGIN</h2>
<div *ngIf="authService.isLoggedIn">Logged In</div>
<div *ngIf="!authService.isLoggedIn">
    <form (ngSubmit)="login()">
        <div class="row">
            <div class="col large-6">
                <label>Username:</label>
                <input type="text" [(ngModel)]="username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <label>Password:</label>
                <input type="password" [(ngModel)]="password" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <input type="submit" class="button" value="Login">
            </div>
        </div>
    </form>
</div>
<p>
    <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>
