<h2>Sign Up</h2>
<div *ngIf="!authService.isLoggedIn">
    <form (ngSubmit)="signup()">
        <div class="row">
            <div class="col large-6">
                <label>Alias:</label>
                <input type="text" [(ngModel)]="alias" name="alias">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <label>Email:</label>
                <input type="text" [(ngModel)]="email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <label>Password:</label>
                <input type="password" [(ngModel)]="password" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <label>Confirm Password:</label>
                <input type="password" [(ngModel)]="confirmPassword" name="confirm" #confirm="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col large-6">
                <input type="submit" class="button" value="Login" [disabled]="password != confirmPassword || confirm.pristine ">
            </div>
        </div>
    </form>
</div>
